.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    overflow: hidden;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 60px;
}

.cart-container{
    position: sticky;
    top: 0;
}

